.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.todo-list ul li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #cce5ff;
  width: 600px;
  margin: 5px;
  border-radius: 5px;
  text-align: left;
  padding: 12px;
}

.todo-list .task-name {
  font-size: 1.2rem;
}

.todo-list button {
  border-radius: 5px;
  padding: 10px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.complete-btn {
  border: 2px solid #048604;
  color: #048604;
}

.complete-btn:hover {
  background-color: #048604;
}

.delete-btn {
  border: 2px solid #d30606;
  color: #d30606;
  margin-left: 2px;
}

.delete-btn:hover {
  background-color: #d30606;
}
